body{
    margin: 0;
    padding: 0;
    
}

img {
    width: 50%;
   height: 800px;
   
    }
    
    .vermelho {
        color: red;
    }
    
    .centro{
        text-align: center;
        
    }
    
    h1,h2 {
        font-family: 'Anton', sans-serif;
    }
    
